.btn_logout{
    background-color: #222222;
    color: rgb(131, 131, 131);
  }
  .navbar-right a{
    color: #fff;
    font-size: 16px;
  }
  .navbar {
    border-radius: 0;
  }
  .btn_submit{
    margin-top: 60px;
    width: 200px;
  }
  .form-delete-material {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .h2{
    margin-top: 100px;
  }
  .form-control{
    height: 100px;
    font-size: larger;
  }