{% load static %}
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'shujukeshe/css/add_pool.css' %}" rel="stylesheet"/>
    <title>添加卡池</title>
  </head>
  <body>
    <!-- 头部导航开始 -->
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid container_navbar">
            <span class"navbar-brand">
            <img src="/static/shujukeshe/image/babelwiki.svg" alt="" width="60" height="48" class="d-inline-block">BabelWiki</span>
            <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/operator/">干员档案</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/enemy/">敌人档案</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/material/">道具材料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/level/">关卡一览</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pool/">卡池一览</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pool_draw/">模拟抽卡</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us/" target="_blank">联系我们</a>
            </li>
            </ul>
            <div class="navbar navbar-right">
                <span class="nav-item">您好！{{ request.session.user_name }},欢迎来到个人中心</span>
                <a href="/logout/" class="btn  navbar-btn btn_logout">退出登录</a>
            </div>
        </div>
    </nav>
</header>
<!--头部导航结束-->
<!--表单部分开始-->
<div class="container">
            <div class="col">
                <form class="form-add-pool" action="/add_pool/" method="get">

                  <div class="form-group">
                    {{add_pool_form.name.label_tag }}
                    {{add_pool_form.name}}
                  </div>

                  <div class="form-group">
                    {{ add_pool_form.begin.label_tag }}
                    {{ add_pool_form.begin }}
                  </div>

                  <div class="form-group">
                    {{ add_pool_form.end.label_tag }}
                    {{ add_pool_form.end }}
                  </div>

                  <div class="form-group">
                    {{ add_pool_form.operator_name.label_tag }}
                    {{ add_pool_form.operator_name }}
                  </div>

                  <div class="text-center">
                      <button type="submit" class="btn btn-danger btn_submit">提交</button>
                  </div>
                </form>
            </div>
    </div>
<!--表单部分结束-->
<!--页脚部分开始-->
<div class="container-fluid container_bottom">
<hr>
<figure class="text-center lh-lg">
<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by zhaoyiqi,wenzengliang,huakaiwen </p>
</hr>
</figure>
</div>
<!--页脚部分结束-->

   <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.6/umd/popper.js"></script>
   
  </body>
</html>