{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'shujukeshe/css/contact_us.css' %}" rel="stylesheet"/>
</head>
<body>
<!--主体-->
<div class="container-fluid" container_text>
<figure class="text-center lh-lg">
<blockquote class="blockquote fs-1">
<p>QQ1: 1254620366</p>
<p>QQ2: 2109702994</p>
<p>QQ3: 1512716886</p>
</blockquote>
<blockquote class="blockquote fs-1">
<p>Github: kepler22bit</p>
</blockquote>
<blockquote class="blockquote fs-1">
<p>VX1: zhao13278403012</p>
<p>VX2: kw1227h</p>
<p>VX3: Wenzl357</p>
</blockquote>
</figure>
</div>
<!--主题结束-->
<!--页脚部分开始-->
<div class="container-fluid fixed-bottom" container_bottom>
<hr>
<figure class="text-center lh-lg">
<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by zhaoyiqi,wenzengliang,huakaiwen </p>
</hr>
</figure>
</div>
<!--页脚部分结束-->
   <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.6/umd/popper.js"></script>

</body>
</html>