{% load static %}
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'main/css/pool.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
    <style>
    table, th, td {
        text-align: center;
    }
    </style>

    <title>提交审批</title>
  </head>
  <body>
  <!-- 头部导航开始 -->

<header>
<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid container_navbar">
            <span class="navbar-brand">
            <img src="/static/shujukeshe/image/babelwiki.svg" alt="" width="60" height="48" class="d-inline-block">BabelWiki</span>
            <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/record/">工作记录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manage/">项目分组</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="/process/">提交审批</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us/" target="_blank">联系我们</a>
            </li>
            </ul>
            <div class="navbar navbar-right">
                <span class="nav-item">您好！{{ request.session.user_name }}</span>
                <a href="/user_homepage/" class="btn  navbar-btn btn_me">个人中心</a>
                <a href="/logout/" class="btn  navbar-btn btn_logout">退出登录</a>
            </div>
        </div>
    </nav>
</header>
<!--头部导航结束-->
<!--关卡表格开始-->
<div class="container">
    <table class="table table-bordered">
        <div style="width: 200px; height:70px;margin:0 auto;font-size:30px;color:#008c8c">文件提交</div>
    <thead>
        <tr>
            <th>编号</th>
            <th>申请项目组</th>
            <th>申请方向</th>
            <th>申请内容</th>
            <th>提交人</th>
            <th>批复</th>
        </tr>
    </thead>
        <tbody>
     {% for manage in manages %}
     <tr>
         <td>{{ manage.idx}}</td>
         <th>{{ manage.type }}</th>
         <th>{{ manage.content }}</th>
         <th>{{ manage.dir }}</th>
         <th>{{ manage.name }}</th>
         <th>
             <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#{{ manage.idx }}">
                 查看
             </button>
             {% if request.session.user_vip == 2 %}
             <a href="/{{ manage.idx }}/process1/" class="btn btn-danger btn-sm" onclick="return tongyi();">同意</a>
             <a href="/{{ manage.idx }}/process2/" class="btn btn-danger btn-sm" onclick="return dahui();">打回</a>
             {% elif request.session.user_vip == 1 %}
                 <input type="submit" value="同意" onclick="return deletejob();" class="btn btn-success btn-sm" >
             <input type="submit" value="打回" onclick="return deletejob();" class="btn btn-danger btn-sm" >
             {% endif %}
         </th>
     </tr>

            <!-- Modal -->
<div class="modal fade" id="{{ manage.idx }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">具体详情&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body">
      {% for a in ans %}
         {% if a.0 == manage.idx%}
             {% if manage.content == '创建表单' %}
                 {% if manage.type == '干员' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>姓名：{{ a.1 }}</div>
                  <div>职业：{{ a.3 }}</div>
                  <div>稀有度：{{ a.4 }}</div>
                  <div>位置：{{ a.5 }}</div>
                  <div>性别：{{ a.6 }}</div>
                  <div>初始再部署时间：{{ a.7 }}</div>
                  <div>初始部署费用：{{ a.8 }}</div>
                  <div>初始阻挡数：{{ a.9 }}</div>
                  <div>初始攻击间隔：{{ a.10 }}</div>
                  <div>升级材料：{{ a.11 }}</div>
                  <div>数量：{{ a.12 }}</div>
                  <div>初始生命1：{{ a.13 }}</div>
                  <div>初始攻击1：{{ a.14 }}</div>
                  <div>初始防御1：{{ a.15 }}</div>
                  <div>初始法术抗性1：{{ a.16 }}</div>
                  <div>初始生命2：{{ a.17 }}</div>
                  <div>初始攻击2：{{ a.18 }}</div>
                  <div>初始防御2：{{ a.19 }}</div>
                  <div>初始法术抗性2：{{ a.20 }}</div>
                  <div>初始生命3：{{ a.21 }}</div>
                  <div>初始攻击3：{{ a.22 }}</div>
                  <div>初始防御3：{{ a.23 }}</div>
                  <div>初始法术抗性3：{{ a.24 }}</div>
                  <div>初始生命4：{{ a.25 }}</div>
                  <div>初始攻击4：{{ a.26 }}</div>
                  <div>初始防御4：{{ a.27 }}</div>
                  <div>初始法术抗性4：{{ a.28 }}</div>
                  <div>第一天赋：{{ a.29 }}</div>
                  <div>描述一：{{ a.30 }}</div>
                  <div>第二天赋：{{ a.31 }}</div>
                  <div>描述二：{{ a.32 }}</div>
                  <div>潜能2：{{ a.33 }}</div>
                  <div>潜能3：{{ a.34 }}</div>
                  <div>潜能4：{{ a.35 }}</div>
                  <div>潜能5：{{ a.36 }}</div>
                  <div>潜能6：{{ a.37 }}</div>
                  <div>技能一名称：{{ a.38 }}</div>
                  <div>技能一描述：{{ a.39 }}</div>
                  <div>初始1：{{ a.40 }}</div>
                  <div>消耗1：{{ a.41 }}</div>
                  <div>持续1：{{ a.42 }}</div>
                  <div>技能二名称：{{ a.43 }}</div>
                  <div>技能二描述：{{ a.44 }}</div>
                  <div>初始2：{{ a.45 }}</div>
                  <div>消耗2：{{ a.46 }}</div>
                  <div>持续2：{{ a.47 }}</div>
                  <div>技能三名称：{{ a.48 }}</div>
                  <div>技能三描述：{{ a.49 }}</div>
                  <div>初始3：{{ a.50 }}</div>
                  <div>消耗3：{{ a.51 }}</div>
                  <div>持续3：{{ a.52 }}</div>
                {% elif manage.type == '材料' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>材料名：{{ a.1 }}</div>
                  <div>稀有度：{{ a.3 }}</div>
                  <div>需要的干员：{{ a.4 }}</div>
                {% elif manage.type == '卡池' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>卡池名称：{{ a.1 }}</div>
                  <div>开始时间：{{ a.3 }}</div>
                  <div>结束时间：{{ a.4 }}</div>
                  <div>可抽取的干员：{{ a.5 }}</div>
                {% elif manage.type == '敌人' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>敌人名称：{{ a.1 }}</div>
                  <div>地位级别：{{ a.3 }}</div>
                  <div>种类：{{ a.4 }}</div>
                  <div>能力：{{ a.5 }}</div>
                  <div>攻击力：{{ a.6 }}</div>
                  <div>耐久：{{ a.7 }}</div>
                  <div>防御力：{{ a.8 }}</div>
                  <div>法术抗性：{{ a.9 }}</div>
                  <div>首次出现的关卡：{{ a.10 }}</div>
                {% elif manage.type == '关卡' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>代号：{{ a.1 }}</div>
                  <div>类型：{{ a.2 }}</div>
                  <div>作战消耗：{{ a.3 }}</div>
                  <div>演戏消耗：{{ a.4 }}</div>
                  <div>部署上限：{{ a.5 }}</div>
                  <div>初始cost：{{ a.6 }}</div>
                  <div>cost上限：{{ a.7 }}</div>
                  <div>目标点耐久：{{ a.8 }}</div>
                  <div>待处理目标数量：{{ a.9 }}</div>
                  <div>常规掉落：{{ a.10 }}</div>
                    {% endif %}
             {% elif manage.content == '修改表单' %}
                 {% if manage.type == '干员' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>姓名：{{ a.1 }}</div>
                  {% elif manage.type == '材料' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>材料名：{{ a.1 }}</div>
                  {% elif manage.type == '卡池' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>卡池名称：{{ a.1 }}</div>
                  {% elif manage.type == '敌人' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>敌人名称：{{ a.1 }}</div>
                  {% elif manage.type == '关卡' %}
                  <div>项目：{{ manage.type }}</div>
                  <div>代号：{{ a.1 }}</div>
                     {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>

{% endif %}
{% endif %}
     {% endfor %}
        {% endfor %}
    </tbody>

    <tfoot>
    </tfoot>
    </table>

<script type="text/javascript" >
                function tongyi()
                {
                     return confirm("您已同意该审批");
                }
                function dahui()
                {
                     return confirm("您已打回该审批");
                }

</script>
</div>
<!--关卡表格结束-->
<!--页脚部分开始-->
<div class="container-fluid container_bottom">
<hr>
<figure class="text-center lh-lg">
<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by zhaoyiqi,wenzengliang,huakaiwen </p>
</hr>
</figure>
</div>
<!--页脚部分结束-->
   <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.6/umd/popper.js"></script>

    <script>
    var result={{result|safe}};
    var length=result.length;
    var tbody=document.querySelector('tbody');
    for(var i=0;i<length;i++)
    {
        var tr=document.createElement('tr');
        for(var j=0;j<4;j++)
        {
            if(j==0)
            {
                var td=document.createElement('td');
                var img=document.createElement('img');
                img.width="400";
                img.src=result[i][1];
                td.appendChild(img);
                tr.appendChild(td);
            }
            if(j==1)
            {
                var td=document.createElement('td');
                td.innerHTML=result[i][0];
                tr.appendChild(td);
            }
            if(j>1)
            {
                var td=document.createElement('td');
                td.innerHTML=result[i][j];
                tr.appendChild(td);
            }
        }
        var x_length=result[0].length;
        var td_operator=document.createElement('td');
        for(var k=4;k<x_length;k=k+2)
        {
            var a=document.createElement('a');
            a.href="/operator/"+result[i][k]+"/";
            var img=document.createElement('img');
            img.src=result[i][k+1];
            img.width="90";
            a.appendChild(img);
            td_operator.appendChild(a);
        }
        tr.appendChild(td_operator);
        tbody.appendChild(tr);
    }
    </script>
  <script src="{%  static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{%  static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
  </body>
</html>
