，{% load static %}
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'main/css/level.css' %}" rel="stylesheet"/>
    <title>关卡一览</title>
  </head>
  <body>
  <!-- 头部导航开始 -->

<header>
<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid container_navbar">
            <span class="navbar-brand">
            <img src="/static/shujukeshe/image/babelwiki.svg" alt="" width="60" height="48" class="d-inline-block">BabelWiki</span>
            <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index/">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/operator/">干员档案</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/enemy/">敌人档案</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/material/">道具材料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">关卡一览</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pool/">卡池一览</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pool_draw/">模拟抽卡</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us/" target="_blank">联系我们</a>
            </li>
            </ul>
            <div class="navbar navbar-right">
                <span class="nav-item">您好！{{ request.session.user_name }}</span>
                <a href="/user_homepage/" class="btn  navbar-btn btn_me">个人中心</a>
                <a href="/logout/" class="btn  navbar-btn btn_logout">退出登录</a>
            </div>
        </div>
    </nav>
</header>
<!--头部导航结束-->
<!--关卡表格开始-->
<div class="container container_level_table">
<table class="table table-hover table-bordered text-center align-middle">
<thead>
<tr class="table-light">
<th>关卡名称</th>
<th>关卡类型</th>
<th>理智消耗</th>
<th>演习券消耗</th>
<th>部署上限</th>
<th>初始费用</th>
<th>费用上线</th>
<th>目标点耐久</th>
<th>敌人数量</th>
<th>首次掉落</th>
<th>常规掉落</th>
</tr>
</thead>
<tbody>

</tbody>
</table>
</div>
<!--关卡表格结束-->
<!--页脚部分开始-->
<div class="container-fluid container_bottom">
<hr>
<figure class="text-center lh-lg">
<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by zhaoyiqi,wenzengliang,huakaiwen </p>
</hr>
</figure>
</div>
<!--页脚部分结束-->
   <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.6/umd/popper.js"></script>

<script>
    var result={{ result | safe }};
    var tbody=document.querySelector('tbody');
    var length=result.length;
    for(var i=0;i<length;i++)
    {
        var tr=document.createElement('tr');
        for(var j=0;j<11;j++)
        {
            if(j==9)
            {
                var td=document.createElement('td');
                var img=document.createElement('img');
                img.src="/static/main/image/others/stone.png";
                td.appendChild(img);
                tr.appendChild(td);
            }
            if(j==10)
            {
                var td=document.createElement('td');
                var a=document.createElement('a');
                var img=document.createElement('img');
                img.src=result[i][10];
                img.width="91";
                a.href="/material/"+result[i][9]+"/";
                a.appendChild(img);
                td.appendChild(a);
                tr.appendChild(td);
            }
            if(j<9&&j>0)
            {
                var td=document.createElement('td');
                td.innerHTML=result[i][j];
                tr.appendChild(td);
            }
            if(j==0)
            {
                var td=document.createElement('td');
                var a=document.createElement('a');
                a.href="/level/"+result[i][j]+"/";
                a.innerHTML=result[i][j];
                td.appendChild(a);
                tr.appendChild(td);
            }
        }
        tbody.appendChild(tr);
    }
</script>
  </body>
</html>